<h2>{% if editing %}Bearbeite{% else %}Erstelle{% endif %} Event</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}

    <h3>Participants</h3>
    <p>Gib 1-5 Teilnehmer an</p>

    {% for subform in formset %}
        <div class="participant-form">
            {{ subform.non_field_errors }}
            {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}

            <div>
                {{ subform.name.label_tag }} {{ subform.name }}
                {{ subform.name.errors }}
            </div>

            <div>
                {{ subform.email.label_tag }} {{ subform.email }}
                {{ subform.email.errors }}
            </div>

            {% if subform.instance.pk %}
                {{ subform.DELETE.label_tag }} {{ subform.DELETE }}
            {% else %}
                {{ subform.DELETE.as_hidden }}
            {% endif %}
        </div>
    {% endfor %}

    {{ formset.non_form_errors }}

    <button type="submit">Speichern</button>
</form>